.empty .hide-on-empty-ancestor {
    display: none;
}

span.clickable-text {
    font-size: 14px;
    color: rgb(89, 142, 255);
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

span.clickable-text.js-hover {
    color: rgb(0, 81, 255);
}

/********** Action icon styling START **********/

div.action-icon {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 5px;
    border-radius: 50%;
    background-color: #e0e0e0;
    opacity: 0.7;
    transition: opacity 0.2s;
    flex-shrink: 0;
}

div.action-icon.js-active:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  border-radius: 50%;
  opacity: 0.1;
}

div.action-icon.js-hover {
    opacity: 1;
}

/********** Action icon styling END **********/

/********** Edit button styling START **********/

div.edit-button > div {
    width:100%;
    height:100%;
    background: url('../icon-assets/edit.svg') no-repeat;
    background-position: 65% 42%;
    background-size: 60% 60%;
}

div.edit-button.editing > div {
    background: url('../icon-assets/check.svg') no-repeat;
    background-position: 60% 50%;
    background-size: 60% 60%;
}

div.edit-button.js-hover {
    background-color: #d3ffd9;
    opacity: 1;
}

div.edit-button.editing {
    background-color: #b8ffc2;
    opacity: 1;
    -webkit-animation: edit-button-wobble 2s infinite;
    animation: edit-button-wobble 2s infinite;
    animation-timing-function: ease-in-out;
    animation-delay: -0.5s;
    transform-origin: 50% 20%;
}

@keyframes edit-button-wobble {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

@-webkit-keyframes edit-button-wobble {
    0% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(-10deg);
    }
    100% {
        transform: rotate(10deg);
    }
}

/************* Edit button styling END ***********/

/********** Add button styling START **********/

div.add-button > div {
    width:100%;
    height:100%;
    background: url('../icon-assets/plus.svg') no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;
}

div.add-button.js-hover, div.add-button.editing {
    background-color: #f293ff;
    opacity: 1;
}

/************* Add button styling END ***********/

/********** Show form button styling START **********/

div.show-form-button > div {
    width:100%;
    height:100%;
    background: url('../icon-assets/form.svg') no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;
}

div.show-form-button.js-hover, div.show-form-button.editing {
    opacity: 1;
    background-color: #8ffff9;
}

/************* Show form button styling END ***********/

/********** Delete button styling START **********/

div.delete-button > div {
    width:100%;
    height:100%;
    background: url('../icon-assets/trash.svg') no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;
}

div.delete-button.deleted > div {
    background: url('../icon-assets/trash-restore.svg') no-repeat;
}

div.delete-button.deleted {
    background-color: #b8d7ff !important;
}

div.delete-button {
    display: none;
}

.goal.editing div.delete-button {
    display: block;
    background-color: #ffb8b8;
}

/************* Delete button styling END ***********/

/********** Next button styling START **********/

div.next-button {
    opacity: 0.6;
}

div.next-button > div {
    width:100%;
    height:100%;
    background: url('../icon-assets/next.svg') no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;
}

/************* Next button styling END ***********/

/********** Prev button styling START **********/

div.prev-button {
    opacity: 0.6;
}

div.prev-button > div {
    width:100%;
    height:100%;
    background: url('../icon-assets/prev.svg') no-repeat;
    background-position: 50% 50%;
    background-size: 60% 60%;
}

/************* Prev button styling END ***********/

/************* Slider styling START ************/

div.slider-wrapper {
    width: 100%;
    overflow: hidden;
    position: relative;
}

div.slider-wrapper div.slider {
    display: flex;
    position: relative;
    top: 0px;
    transition: left ease-in-out 0.5s;
}

div.slider.sliding * {
    pointer-events: none;
}

/************* Slider styling END ************/

/************* Section placeholder styling START ************/

div.milestone-placeholder,
div.goal-placeholder,
div.link-placeholder,
div.comment-placeholder {
    max-width:700px;
    width: 100%;
    height: 80px;
    color:rgb(85, 85, 85);
    padding: 0px 20px;
    text-align: center;
    display: none;
}

div.link-for-goal-placeholder {
    max-width:700px;
    width: 100%;
    height: 100%;
    color:rgb(85, 85, 85);
    padding: 0px 20px;
    text-align: center;
    display: none;
}

.empty div.link-placeholder,
.empty div.link-for-goal-placeholder,
.empty div.milestone-placeholder,
.empty div.goal-placeholder,
.empty div.comment-placeholder {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

div.listing-page-placeholder {
    font-size: large;
    color:rgb(85, 85, 85);
    display: none;
}

.empty div.listing-page-placeholder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/************* Section placeholder styling END ************/

/************* Page component styling START **************/

div.listing-page {
    display: flex;
    flex-direction: column;
    max-width: 1500px;
    width: 100%;
    position: relative;
}

/************* Page component styling START **************/

/************* Accordion open arrow styling START ************/

div.accordionOpenArrow {
    height: 60px;
    width: 100%;
    margin-bottom: -60px;
}

div.accordionOpenArrow > div {
    width: 30px;
    height: 50px;
    background: url(../icon-assets/accordion-open.svg) no-repeat;
    margin: auto;
    opacity: 0.5;
}

.empty .accordionOpenArrow {
    display: none;
}

/************* Accordion open arrow styling END ************/

canvas.confetti {
    position: fixed;
}