/*********** Goals styling START *************/
.goals-section {
    position:relative;
    padding: 6px;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    min-width:250px;
    min-height: 90px;
}

.goals-section > .edit-button {
    position: absolute;
    right: 5px;
    top: 0;
}

.goals-section > .add-button {
    position: absolute;
    right: 5px;
    top: 0;
}


/*
@media only screen and (min-width: 641px) {
    .goals-section {
        max-height: 750px;
    }

    div.goal-box {
        overflow-y: auto;
    }
}*/

div.goal-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    padding-right: 6px;
}

div.goal {
    max-width:700px;
    width: 100%;
    margin: 4px 0;
    border-left: solid var(--category-color) 5px;
    background-color: white;
    --border-rad: 16px;
    border-radius: var(--border-rad);
    filter: drop-shadow(3px 3px 2px rgba(119, 119, 119, 0.452));
}

/* hover style for the goal box, based on category */
div.goal.selected, div.goal.js-hover {
    background-color: var(--clear-category-color);
}


div.goal-header {
    width: 100%;
    padding: 2px 2px 2px 4px;
    transition: background-color 0.3s;
}

div.goal-content {
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.goal-info {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 10px;
}

div.goal-button-box {
    flex-shrink: 0;
    width: 40px;
    height: 40px;
    margin-right:5px;
    margin-left:5px;
}

div.goal-name {
    width:100%;
}

div.goal-details {
    position:relative;
    width: 100%;
}

div.goal-basis {
    max-width: 100%;
    word-break: break-all;
    margin-left: 5px;
    color: #003cff;
}

/* For standard, grey text */
div.goal span.goal-boilerplate {
    color: #888;
    font-size: min(4vw,14px);
}
/* For blue text, showing user data */
div.goal span.goal-data {
    color:#003cff;
    white-space: nowrap;
}

div.goal-edit-text-wrapper {
    overflow: hidden;
    max-height: 0px;
    transition: max-height 0.3s;
    position: absolute;
    right: 5px;
    top: 15px;
}

div.goal.editing div.goal-edit-text-wrapper {
    max-height: 32px;
}

/* Goal accordion */

.goal .accordion {
    background-image: linear-gradient(to bottom, #dedede 0px, #ffffffff 8px);
}

.goal .accordion.open {
    border-bottom-right-radius: var(--border-rad);
    border-bottom-left-radius: var(--border-rad);
}

.goal .accordion-main {
    display: flex;
    flex-direction: column;
}

/*********** Goals styling END *************/

/*********** Links within goals styling START ***********/

div.link-section-for-goal {
    display: flex;
}

/*********** Links within goals styling END ************/

/******* Styling for animated checkmark START *******/
div.ld-animated-check {
    border-radius: 50%;
    position:relative;
    width: 40px;
    height: 40px;
}

div.ld-animated-check div.checkmark-sheet {
    background-image: url('../assets/spritesheets/check.png');    /* AUTHOR on lottie: sergey designer */
}

div.ld-animated-check div.check-background {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    position:absolute;
    background: url('../assets/spritesheets/check-background.png') no-repeat;
    opacity: 1;
    transition: opacity 1s;
}

div.ld-animated-check.is-checked div.check-background {
    opacity: 0;
}
/******* Styling for animated checkmark END *******/

/*********** Goal form styling START ***********/

.goal-form .timing-options {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.goal-form .timing-options:not(.one-time, .daily, .weekly, .monthly, .yearly) {
    display: none;
}

.goal-form .timing-options.one-time > *:not(.one-time),
.goal-form .timing-options.daily > *:not(.daily),
.goal-form .timing-options.weekly > *:not(.weekly),
.goal-form .timing-options.monthly > *:not(.monthly),
.goal-form .timing-options.yearly > *:not(.yearly) {
    display: none;
}

/*********** Goal form styling END ************/

/*********** Week Selector styling START ***********/

div.week-selector-wrapper {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

div.week-selector {
    margin: auto;
    min-width: 280px;
    max-width: 400px;
    width: 75%;
    height: 50px;
    line-height: 50px;
    display: flex;
}

div.week-selector > div.day-of-the-week {
    position:relative;
    width: 14.28%;
    height: 100%;
    text-align: center;
    border: 1px solid grey;
    margin-right: -1px;
    background-color: #e8e8e8;
}

div.week-selector > div.day-of-the-week:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

div.week-selector > div.day-of-the-week:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

div.week-selector > div.day-of-the-week.selected {
    box-shadow: 2px 3px rgb(0 0 0 / 15%);
    outline: none;
    top: -3px;
    left: -1px;
    z-index: 10;
    background-color: white;
}

/*********** Week Selector styling END ***********/

/*********** Month Selector styling START ***********/

div.month-selector {
    margin: auto;
    min-width: 280px;
    max-width: 400px;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
}

div.month-selector > div.day-of-the-month {
    position:relative;
    width: 14.28%;
    height: 30px;
    text-align: center;
    border: 1px solid grey;
    background-color: #e8e8e8;
    border-radius: 7px;
    margin: 3px
}

div.month-selector > div.day-of-the-month.selected {
    box-shadow: 2px 3px rgb(0 0 0 / 15%);
    outline: none;
    top: -1px;
    z-index: 10;
    border: 1px solid black;
    background-color: white;
}

/*********** Month Selector styling END ***********/

/*********** Template Goal styling START ***********/

div.template-goals-section {
    width: 100%;
    height: 146px;
    overflow-y: auto;
    overflow-x: hidden;
}

div.template-goals-section.empty {
    display: none;
}

div.template-goal {
    margin: 2px;
    padding: 5px 10px;
    border-radius: 5px;
    width: 100%;
    background-color: #e0e0e0;
    transition: background-color 0.5s;
}

div.template-goal.selected {
    background-color: #ddfdce;
}

/*********** Template Goal styling END ***********/